
/*---------------------------------------------------------*/
/* Book Content Styling                                    */
/*---------------------------------------------------------*/

.mbt_books .mbt-book-images {
	float: left;
	width: 44%;
}

.mbt_books .mbt-book-images .mbt-book-image {
	width: 100%;
	border-radius: 0px;
	box-shadow: none;
}

.mbt_books .mbt-book-summary {
	width: 52%;
	float: right;
}

.mbt_books .mbt-book-summary .mbt-book-title {
	clear: none;
	margin: 0;
	padding: 0;
}

.mbt_books .mbt-book-summary .mbt-book-blurb {
	border-radius: 8px; 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #EAEAEA;

	margin: 10px 0px;
	position: relative;
	padding: 10px 20px 10px 60px;
	min-height: 50px;
}

.mbt_books .mbt-book-summary .mbt-book-blurb p {
	font-style: italic;
	color: #444;
	line-height: 20px;
	margin: 0px;
}

.mbt_books .mbt-book-summary .mbt-book-blurb:before {
	content: '\201C';
	position: absolute;
	left: 9px;
	font-size: 98px;
	color: #999;
	font-family: Georgia, serif;
	line-height: 98px;
}

.mbt_books .mbt-book-buttons {
	width: 52%;
	float: right;
}

.mbt_books .mbt-book-overview {
	clear: both;
}

.mbt_books .mbt-book-buttons .mbt-book-button  {
	width: auto;
	float: left;
	clear: none;
	padding: 5px 5px 2px 5px;
}

.mbt_books .mbt-book-buttons .mbt-book-button .mbt-custom-button  {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	vertical-align: middle;
	color: white;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);

	border: 1px solid #21759B;
	border-bottom-color: #1E6A8D;
	border-radius: 5px;
	background-color: #21759B;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#21759b));
	background-image: -webkit-linear-gradient(top,#2a95c5,#21759b);
	background-image: -moz-linear-gradient(top,#2a95c5,#21759b);
	background-image: -ms-linear-gradient(top,#2a95c5,#21759b);
	background-image: -o-linear-gradient(top,#2a95c5,#21759b);
	background-image: linear-gradient(to bottom,#2a95c5,#21759b);
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);

	display: inline-block;
	margin: 0;
	padding: 6px 15px;
	min-width: 70px;
}

.mbt_books .mbt-book-buttons .mbt-book-button img {
    background: transparent;
    border: none;
    height: auto;
    width: auto;
	border-radius: 0px;
	box-shadow: none;
}

.mbt_books .mbt-book-price {
	margin: 10px 0px;
	font-size: 1.2em;
	font-weight: bold;
}

.mbt_books .mbt-book-price .oldprice  {
	text-decoration: line-through;
	color: #AEAEAE;
	margin-right: 10px;
}

.mbt_books .mbt-book-price .newprice  {
	color: #152400;
}

.mbt_books .mbt-book-series {
	background: whiteSmoke;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#f5f5f5),to(#fafafa));
	background-image: -webkit-linear-gradient(bottom,#f5f5f5,#fafafa);
	background-image: -moz-linear-gradient(bottom,#f5f5f5,#fafafa);
	background-image: -o-linear-gradient(bottom,#f5f5f5,#fafafa);
	background-image: linear-gradient(to top,#f5f5f5,#fafafa);
	border-color: #DFDFDF;
	position: relative;
	overflow: auto;
	margin: 20px 0;
	padding: 9px 10px 12px;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	font-size: 13px;
	line-height: 2.1em;
}

.mbt_books .mbt-book-series .mbt-book-series-title {
	font-size: 1.5em;
	font-style: italic;
	opacity: .8;
}

.mbt_books .mbt-book-series .mbt-book {
	padding: 10px;
	width: 150px;
	float: left;
}

.mbt_books .mbt-book-series .mbt-book-title {
	font-size: 1.5em;
	font-weight: bold;
}

.mbt_books .mbt-book-series .mbt-book-title a {
	color: black;
}

.mbt_books .mbt-book-series .mbt-book-images {
	width: 150px;
	float: auto;
}


/*---------------------------------------------------------*/
/* Book Archive Styling                                    */
/*---------------------------------------------------------*/

.entry-header .mbt-archive-image {
	float: left;
	width: 10%;
	padding-right: 20px;
	padding-bottom: 10px;
}

.entry-header .entry-title {
	clear: none;
	width: 70%;
	float: left;
	padding-bottom: 14px;
}

.entry-header .mbt-archive-description {
	border-radius: 8px; 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #EAEAEA;

	clear: none;
	width: 70%;
	float: left;

	margin: 0px 0px 20px 0px;
	position: relative;
	padding: 10px 20px 10px 60px;
	min-height: 50px;
}

.entry-header .mbt-archive-description p {
	font-style: italic;
	color: #444;
	line-height: 20px;
	margin: 0px;
}

.entry-header .mbt-archive-description:before {
	content: '\201C';
	position: absolute;
	left: 9px;
	font-size: 98px;
	color: #999;
	font-family: Georgia, serif;
	line-height: 98px;
}

.mbt-book-listing .mbt_books {
	margin-bottom: 30px;
}