/*---------------------------------------------------------*/
/* General Book Styling                                    */
/*---------------------------------------------------------*/

.mbt-book {
	clear: both;
	padding-bottom: 10px;
	font-family: Helvetica, sans-serif
}

.mbt-book .mbt-book-right {
	float: left;
	width: 75%;
}

.mbt-book .mbt-affiliate-disclaimer,
.mbt-book .mbt-affiliate-disclaimer a {
	color: gray;
	font-size: 10px;
	font-style: italic;
}

.mbt-book .mbt-affiliate-disclaimer {
	padding: 10px 0px;
	clear: both;
}



/*---------------------------------------------------------*/
/* Breadcrumbs                                             */
/*---------------------------------------------------------*/

.mbt-breadcrumbs {
	padding: 0px 0px 10px 0px;
	color: #666;
	font-family: Helvetica, sans-serif;
}

.mbt-breadcrumbs a {
	color: #666;
	text-decoration: none;
	border: none;
}

.mbt-breadcrumbs a:hover {
	color: #333;
	text-decoration: underline;
	border: none;
}



/*---------------------------------------------------------*/
/* Book Images                                             */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-images {
	float: left;
	width: 25%;
}

.mbt-book .mbt-book-images .mbt-book-image {
	width: 100%;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}



/*---------------------------------------------------------*/
/* Book Title                                              */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-title {
	clear: none;
	margin: 0 0 0 33px;
	padding: 0;

	color: #484949;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.3;
	background: none;
}

.mbt-book .mbt-book-title a {
	color: #484949;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	border: none;
}

.mbt-book .mbt-book-title a:hover {
	color: #484949;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
	border: none;
}



/*---------------------------------------------------------*/
/* Book Price                                              */
/*---------------------------------------------------------*/
.mbt-book .mbt-book-price {
	margin: 10px 0px 10px 33px;
	font-size: 16px;
	font-weight: bold;
	color: #484949;
}

.mbt-book .mbt-book-price .mbt-old-price  {
	text-decoration: line-through;
	color: #AEAEAE;
	margin-right: 10px;
}

.mbt-book .mbt-book-price .mbt-new-price  {
	color: #484949;
}



/*---------------------------------------------------------*/
/* Book Meta                                              */
/*---------------------------------------------------------*/
.mbt-book .mbt-book-meta {
	font-size: 14px;
	line-height: 1.5;
	margin-left: 33px;
}

.mbt-book .mbt-book-meta .mbt-meta-title {
	font-weight: bold;
}

.mbt-book .mbt-book-meta a {
	font-weight: 600;
}



/*---------------------------------------------------------*/
/* Book Blurb                                              */
/*---------------------------------------------------------*/
.mbt-book .mbt-book-blurb {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: white;
	border: 1px solid #E0E2E2;

	font-size: 14px;
	color: #484949;
	line-height: 21px;

	margin: 10px 0px 0px 10px;
	padding: 15px 23px;
	min-height: 50px;
}

.mbt-book .mbt-book-blurb a {
	color: #484949;
	font-weight: 600;
	text-decoration: none;
}

.mbt-book .mbt-book-blurb a:hover {
	text-decoration: underline;
}

.mbt-book a.mbt-book-sample {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
	color: white;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	border: 1px solid #345873;
	border-radius: 5px;

	background-color: #36738d;
	background-image: -moz-linear-gradient(top,  #36738d 0%, #2f5a79 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36738d), color-stop(100%,#2f5a79));
	background-image: -webkit-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -o-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -ms-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: linear-gradient(to bottom,  #36738d 0%,#2f5a79 100%);

	-webkit-box-shadow: inset 1px 1px 0 rgba(141,184,211,0.7);
	box-shadow: inset 1px 1px 0 rgba(141,184,211,0.7);

	display: inline-block;
	margin: 0;
	margin-top: 10px;
	padding: 6px 15px;
	min-width: 70px;
}



/*---------------------------------------------------------*/
/* Buy Buttons                                             */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-buybuttons {
	margin: 15px 0px 0px 20px;
}

.mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
	width: auto;
	float: left;
	clear: none;
	padding: 5px 10px 0px 0px;
	vertical-align: top;
}

.mbt-book .mbt-book-buybuttons .mbt-book-buybutton a {
	vertical-align: top;
}

.mbt-book .mbt-book-buybuttons .mbt-book-buybutton img {
	background: transparent;
	border: none;
	height: auto;
	width: auto;
	border-radius: 0px;
	box-shadow: none;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
	opacity: 1;
}

.mbt-book .mbt-book-buybuttons-textonly {
	display: block;
	float: left;
	clear: both;
	margin: 15px 0px 0px 0px;
}

.mbt-book .mbt-book-buybuttons-textonly h3  {
	margin: 0px;
	padding: 0px;
}

.mbt-book .mbt-book-buybuttons-textonly ul {
	list-style-position: inside;
	list-style-type: disc;
	margin: 5px 0 5px 0;
	padding: 0 0 0 10px
}

.mbt-book .mbt-book-buybuttons-textonly ul li {
	list-style-position: inside;
	list-style-type: disc;
	background: none;
	padding: 0;
	margin: 0;
}

.mbt-book .mbt-book-buybuttons-textonly ul li a {
	vertical-align: middle;
	font-size: 15px;
	line-height: 15px;
}



/*---------------------------------------------------------*/
/* Book Overview                                           */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-overview {
	width: 100%;
	clear: both;
	float: left;
	border-top: 1px solid #E0E2E2;
	padding-top: 20px;
	margin-top: 25px;

	font-size: 14px;
	line-height: 21px;
}

.mbt-book .mbt-book-overview .mbt-book-overview-title {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;

	font-size: 25px;
	color: black;
	font-weight: normal;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
}



/*---------------------------------------------------------*/
/* Book Social Media                                       */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-socialmedia-bar {
	clear: both;
	padding-top: 10px;
}

.mbt-book .mbt-book-socialmedia-badges {
	float: right;
	padding-left: 5px;
}



/*---------------------------------------------------------*/
/* Book Series                                             */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-series {
	font-size: 13px;

	background: #F8F8F8;
	border: 1px solid #E1E3E3;
	border-radius: 2px;

	margin: 15px 10px 5px 10px;
	padding: 15px 0px 15px 20px;
}

.mbt-book .mbt-book-series .mbt-book-series-title {
	font-size: 16px;
	font-weight: bold;
	color: #484949;
}

.mbt-book .mbt-book-series .mbt-book {
	display: inline-block;
	padding: 15px 20px 5px 0px;
	margin: 0px;
	text-align: center;
	float: left;
	clear: none;
	border: none;
	height: 175px;
	width: 120px;
	overflow: hidden;
	box-sizing: content-box;
}

.mbt-book .mbt-book-series .mbt-book .mbt-book-title {
	font-size: 14px;
	font-weight: bold;
	clear: both;
	padding: 0px;
	margin: 0px;
	width: 120px;
	height: 55px;
	overflow: hidden;
}

.mbt-book .mbt-book-series .mbt-book .mbt-book-title a {
	font-size: 14px;
	font-weight: bold;
}

.mbt-book .mbt-book-series .mbt-book .mbt-book-title a:hover {
	font-size: 14px;
	font-weight: bold;
}

.mbt-book .mbt-book-series .mbt-book .mbt-book-images {
	margin: 10px;
}

.mbt-book .mbt-book-series .mbt-book .mbt-book-images a {
	border: none;
}



/*---------------------------------------------------------*/
/* Find Bookstore Box                                      */
/*---------------------------------------------------------*/

.mbt-book .mbt-find-bookstore {
	font-size: 13px;

	background: #F8F8F8;
	border: 1px solid #E1E3E3;
	border-radius: 2px;

	margin: 15px 10px 5px 10px;
	padding: 15px 20px;
	text-align: center;
}

.mbt-book .mbt-find-bookstore .mbt-find-bookstore-title {
	font-size: 16px;
	font-weight: bold;
	color: #484949;
	padding-bottom: 10px;
}

.mbt-book .mbt-find-bookstore input {
	padding: 4px 6px;
	margin: 3px;
	vertical-align: baseline;
	width: auto;
}



/*---------------------------------------------------------*/
/* Goodreads Box                                           */
/*---------------------------------------------------------*/

.mbt-book #goodreads-widget {
	font-family: georgia, serif;
	background-color: white;
	margin-top: 30px;
	padding: 20px;
}
.mbt-book #goodreads-widget h1 {
	font-weight:normal;
	font-size: 16px;
	border-bottom: 1px solid #BBB596;
	margin-bottom: 0;
	margin: 0px;
	padding: 0px;
	background: 0px;
}
.mbt-book #goodreads-widget a {
	text-decoration: none;
	border: none;
	color:#660;
	margin: 0px;
	padding: 0px;
	background: 0px;
}
.mbt-book #goodreads-widget a:hover { text-decoration: underline; }
.mbt-book #goodreads-widget a:active {
	color:#660;
}
.mbt-book #gr_footer {
	width: 100%;
	border-top: 1px solid #BBB596;
	text-align: right;
}
.mbt-book #goodreads-widget .gr_branding{
	color: #382110;
	font-size: 11px;
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
}
.mbt-book #goodreads-widget iframe {
	width: 100%;
}



/*---------------------------------------------------------*/
/* Book Archive Styling                                    */
/*---------------------------------------------------------*/

.mbt-book-archive-header .mbt-book-archive-image {
	float: left;
	width: 15%;
	padding: 0 24px 25px 0;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	margin: 0;
}

.mbt-book-archive-header .mbt-book-archive-title {
	clear: none;
	width: 75%;
	float: left;
	padding: 0px 0px 15px 0px;
	margin: 0px;
	background: transparent;

	color: #484949;
	font-size: 30px;
	font-weight: normal;
	line-height: 1.3;
}

.mbt-book-archive-header .mbt-book-archive-description {
	clear: none;
	width: 75%;
	float: left;

	font-size: 14px;
	line-height: 1.5;

	padding: 0px 0px 25px 0px;
	position: relative;
}

.mbt-book-archive {
	clear: both;
}

.mbt-book-archive .mbt-book {
	margin-bottom: 40px;
	border-bottom: 1px solid #E0E2E2;
}

.mbt-book-archive-pagination {
	clear: both;
	text-align: center;
}

.mbt-book-archive-pagination a,
.mbt-book-archive-pagination a:link,
.mbt-book-archive-pagination a:visited,
.mbt-book-archive-pagination a:hover {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
	color: white;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	border: 1px solid #345873;
	border-radius: 5px;

	background-color: #36738d;
	background-image: -moz-linear-gradient(top,  #36738d 0%, #2f5a79 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36738d), color-stop(100%,#2f5a79));
	background-image: -webkit-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -o-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -ms-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: linear-gradient(to bottom,  #36738d 0%,#2f5a79 100%);

	-webkit-box-shadow: inset 1px 1px 0 rgba(141,184,211,0.7);
	box-shadow: inset 1px 1px 0 rgba(141,184,211,0.7);

	display: inline-block;
	margin: 0px 5px 0px 0px;
	padding: 6px 8px;
}

.mbt-book-archive-pagination a:hover {
	text-decoration: underline;
}

.mbt-book-archive-pagination span {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
	color: #214756;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	display: inline-block;
	margin: 0px 5px 0px 0px;
	padding: 6px 8px;
}

.mbt-book-archive-pagination .mbt-book-archive-pagination-next {
	margin-left: 5px;
	padding: 6px 15px;
}

.mbt-book-archive-pagination .mbt-book-archive-pagination-previous {
	margin-right: 10px;
	padding: 6px 15px;
}



/*---------------------------------------------------------*/
/* Widget Styling                                          */
/*---------------------------------------------------------*/

.mbt-featured-book-widget {
	padding: 6px;
	padding-bottom: 0px;
	text-align: center;
}

.mbt-featured-book-widget .mbt-featured-book-widget-book {
	padding-bottom: 30px;
}

.mbt-featured-book-widget .mbt-book-title {
	margin: 0 5px 15px 0;
	text-align: left;
}

.mbt-featured-book-widget .mbt-book-title a {
	color: inherit;
	text-decoration: none;
	font-size: 18px;
	border: none;
}

.mbt-featured-book-widget .mbt-book-title a:hover {
	color: inherit;
	text-decoration: underline;
	font-size: 18px;
	border: none;
}

.mbt-featured-book-widget .mbt-book-images {
	padding-bottom: 10px;
}

.mbt-featured-book-widget .mbt-book-images a {
	border: none;
}

.mbt-featured-book-widget .mbt-book-images .mbt-book-image {
	width: 60%;
	margin: 0;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
}

.mbt-featured-book-widget .mbt-book-images .mbt-book-image.medium {
	width: 45%;
}

.mbt-featured-book-widget .mbt-book-images .mbt-book-image.small {
	width: 30%;
}

.mbt-featured-book-widget .mbt-book-blurb {
	font-size: 14px;
	text-align: left;
	margin: 0;
	padding: 0 0 10px 0;
	background: none;
	border: none;
}

.mbt-featured-book-widget .mbt-book-blurb .mbt-read-more {
	display: block;
	padding-top: 10px;
	text-align: right;
}

.mbt-featured-book-widget .mbt-book-buybuttons {
	display: inline-block;
	text-align: center;
	padding: 0;
	margin: 0;
}

.mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton  {
	width: auto;
	float: none;
	clear: both;
	display: inline-block;
	padding: 5px 10px 0px 0px;
}

.mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton img {
	background: transparent;
	border: none;
	height: auto;
	width: auto;
	border-radius: 0px;
	box-shadow: none;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
}



/*---------------------------------------------------------*/
/* Shortcodes                                              */
/*---------------------------------------------------------*/

.mbt-taxonomy-listing .mbt-taxonomy {
	clear: both;
	font-family: Helvetica, sans-serif;
	margin-bottom: 20px;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-title {
	clear: none;
	margin: 0 0 0 10px;
	padding: 0;

	color: #484949;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.3;
	background: none;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-title a {
	color: #484949;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	border: none;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-title a:hover {
	color: #484949;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
	border: none;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-image {
	float: left;
	width: 25%;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-image img {
	width: 100%;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-description {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: white;
	border: 1px solid #E0E2E2;

	font-size: 14px;
	color: #484949;
	line-height: 21px;

	margin: 5px 0px 0px 10px;
	padding: 10px 15px;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-right {
	float: left;
	width: 75%;
}

.mbt-taxonomy-list.bar {
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	border-radius: 5px;
	color: #333;
	margin: 10px 0px;
}

.mbt-taxonomy-list.bar li {
	float: left;
	list-style: none;
	padding: 4px 7px;
	margin: 0px;
	background: none;
}



/*---------------------------------------------------------*/
/* Misc Fixes                                              */
/*---------------------------------------------------------*/

body.mybooktable .post-meta,
body.mybooktable .post-info,
body.mybooktable .post-meta {
	display: none;
}

body.mybooktable .entry-meta,
body.mybooktable .entry-info,
body.mybooktable .entry-meta {
	display: none;
}



/*---------------------------------------------------------*/
/* Thickbox Styles                                         */
/*---------------------------------------------------------*/

.mbt-shadowbox-hidden {
	margin: 0;
	padding: 0;
	display: none;
}

.mbt-shadowbox .mbt-shadowbox-title {
	font-size: 16px;
	font-weight: bold;
	color: #484949;
	text-align: center;

	background: #C0C0C0;
	padding: 12px 0px;
}

.mbt-buybuttons-shadowbox .mbt-book {
	clear: none;
	padding: 0;
}

.mbt-buybuttons-shadowbox .mbt-book .mbt-book-buybuttons {
	margin: 0;
	float: left;
	padding: 5px 20px 15px 20px;
}

.mbt-buybuttons-shadowbox .mbt-book-image {
	width: 150px;
	padding: 10px;
	float: right;
}

.mbt-buybuttons-shadowbox .mbt-find-bookstore {
	font-size: 13px;
	background: #C0C0C0;
	margin: 0;
	padding: 15px 20px;
	text-align: center;
}

.mbt-buybuttons-shadowbox .mbt-find-bookstore .mbt-find-bookstore-title {
	font-size: 16px;
	font-weight: bold;
	color: #484949;
	padding-bottom: 10px;
}

.mbt-buybuttons-shadowbox .mbt-find-bookstore input {
	padding: 4px 6px;
	margin: 3px;
	vertical-align: baseline;
	width: auto;
}

@media only screen and (max-width: 660px) {
	.mbt-buybuttons-shadowbox {
		text-align: center;
	}

	.mbt-buybuttons-shadowbox .mbt-book .mbt-book-buybuttons {
		box-sizing: border-box !important;
		padding: 5px 15px 15px 15px;
		width: 100% !important;
		text-align: center;
	}

	.mbt-buybuttons-shadowbox .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
		float: none;
	}

	.mbt-buybuttons-shadowbox .mbt-book .mbt-book-buybuttons .mbt-book-buybuttons-textonly {
		float: none;
	}

	.mbt-buybuttons-shadowbox .mbt-book-image {
		box-sizing: border-box !important;
		padding: 15px;
		width: 50% !important;
		float: none;
	}
}

/* global setting needed for thickbox */
*{padding: 0; margin: 0;}

#mbt_tb_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
  box-sizing: content-box;
}

#mbt_tb_window div {
	box-sizing: content-box;
}

#mbt_tb_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color:#666666;
}

#mbt_tb_window a,
#mbt_tb_window a:link,
#mbt_tb_window a:visited,
#mbt_tb_window a:active,
#mbt_tb_window a:focus {
	color: #000;
}
#mbt_tb_window a:hover {color: #444;}

#mbt_tb_overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;

	/*this may SEEM excessive, but it's required to support certain themes that use z-index a little too liberally... */
	z-index: 10000;
}

.mbt_tb_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

#mbt_tb_window {
	position: fixed;
	background: #ffffff;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;

	/*this may SEEM excessive, but it's required to support certain themes that use z-index a little too liberally... */
	z-index: 10002;
}

@media only screen and (max-width: 660px) {
	#mbt_tb_window {
		margin-left: 0 !important;
		width: 90% !important;
		top: 50px !important;
		left: auto;
		right: 15px;
	}
}

#mbt_tb_window img#mbt_tb_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#mbt_tb_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#mbt_tb_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#mbt_tb_closeAjaxWindow{
	padding: 0;
	margin: 0;
	text-align:right;
	float:right;
}

#mbt_tb_ajaxWindowTitle{
	float:left;
	padding:0;
	margin-bottom:0;
}

#mbt_tb_title{
	height:0;
}

#mbt_tb_closeWindowButton{
	display: inline-block;
	background: url('../images/close.png') no-repeat;
	width:27px;
	height:27px;
	vertical-align: bottom;
	position: absolute;
	right: -13px;
	top: -13px;
}

#mbt_tb_ajaxContent{
	clear:both;
	padding:0;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#mbt_tb_ajaxContent.mbt_tb_modal{
	padding:15px;
}

#mbt_tb_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#mbt_tb_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px;
}

#mbt_tb_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

#mbt_tb_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
}
