/*---------------------------------------------------------*/
/* General Book Styling                                    */
/*---------------------------------------------------------*/

.mbt-book {
	clear: both;
	padding-bottom: 10px;
	font-family: Helvetica, sans-serif
}

.mbt-book .mbt-affiliate-disclaimer {
	opacity: 0.6;
	font-size: 10px;
	font-style: italic;
	padding: 10px 0px;
	clear: both;
}

.mbt-book .mbt-affiliate-disclaimer a,
.mbt-book .mbt-affiliate-disclaimer a:link,
.mbt-book .mbt-affiliate-disclaimer a:visited,
.mbt-book .mbt-affiliate-disclaimer a:hover,
.mbt-book .mbt-affiliate-disclaimer a:active  {
	color: inherit;
}

.mbt-book a.mbt-book-anchor {
	display: block;
	position: absolute; /* This is nessesary or else the element shows up as 1px high, for some reason */
}



/*---------------------------------------------------------*/
/* Breadcrumbs                                             */
/*---------------------------------------------------------*/

.mbt-breadcrumbs {
	padding: 0px 0px 10px 0px;
}

.mbt-breadcrumbs a,
.mbt-breadcrumbs a:link,
.mbt-breadcrumbs a:visited,
.mbt-breadcrumbs .mbt-breadcrumbs-delimiter {
	opacity: 0.6;
	font-family: Helvetica, sans-serif;
}

.mbt-breadcrumbs a:active,
.mbt-breadcrumbs a:hover {
	opacity: 1;
	font-family: Helvetica, sans-serif;
}



/*---------------------------------------------------------*/
/* Book Images                                             */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-images {
	float: left;
	width: 25%;
}

.mbt-book .mbt-book-images .mbt-book-image {
	width: 100%;
	height: auto;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}

.mbt-book .mbt-book-right {
	float: left;
	width: 75%;
}

.mbt-book .mbt-book-images.mbt-book-images-small {
	width: 15%;
}
.mbt-book .mbt-book-images.mbt-book-images-small + .mbt-book-right {
	width: 85%;
}
.mbt-book .mbt-book-images.mbt-book-images-large {
	width: 35%;
}
.mbt-book .mbt-book-images.mbt-book-images-large + .mbt-book-right {
	width: 65%;
}

@media (max-width: 500px) {
	.mbt-book .mbt-book-images {
		float: none;
		width: auto;
		text-align: center;
	}

	.mbt-book .mbt-book-images .mbt-book-image {
		width: 80%;
	}

	.mbt-book .mbt-book-right {
		float: none;
		width: auto;
		margin-left: 0;
	}
}



/*---------------------------------------------------------*/
/* Book Title                                              */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-title {
	clear: none;
	margin: 0;
	padding: 0;

	color: #484949;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.3;
	background: none;
}

.mbt-book .mbt-book-title a {
	color: #484949;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	border: none;
}

.mbt-book .mbt-book-title a:hover {
	color: #484949;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
	border: none;
}



/*---------------------------------------------------------*/
/* Book Price                                              */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-price {
	font-size: 16px;
	font-weight: bold;
	color: #484949;
}

.mbt-book .mbt-book-price .mbt-old-price  {
	text-decoration: line-through;
	color: #AEAEAE;
	margin-right: 10px;
}

.mbt-book .mbt-book-price .mbt-new-price  {
	color: #484949;
}

.mbt-book .mbt-book-price .mbt-alt-price  {
	display: block;
	font-size: 12px;
	line-height: 1;
	margin-top: 5px;
}



/*---------------------------------------------------------*/
/* Book Meta                                               */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-meta {
	font-size: 14px;
	line-height: 1.5;
}

.mbt-book .mbt-book-meta .mbt-meta-title {
	font-weight: bold;
}

.mbt-book .mbt-book-meta a {
	font-weight: 600;
}

.mbt-book .mbt-book-meta .mbt-star-rating {
	display: inline-block;
}
.mbt-book .mbt-book-meta .mbt-star-rating .mbt-star {
	float: left;
	width: 17px;
	height: 15px;
	text-indent: -999em;
	display: block;
	background: transparent;
	overflow: hidden;
	background: url('../images/star.gif') no-repeat 0 0px;
}
.mbt-book .mbt-book-meta .mbt-star-rating .mbt-star.mbt-star-filled {
	background-position: 0 -32px;
}



/*---------------------------------------------------------*/
/* Book Samples                                            */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-sample {
	margin-top: 10px;
}

.mbt-book .mbt-book-sample a {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
	color: white;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	border: 1px solid #345873;
	border-radius: 5px;

	background-color: #36738d;
	background-image: -moz-linear-gradient(top,  #36738d 0%, #2f5a79 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36738d), color-stop(100%,#2f5a79));
	background-image: -webkit-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -o-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -ms-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: linear-gradient(to bottom,  #36738d 0%,#2f5a79 100%);

	box-shadow: inset 1px 1px 0 rgba(141,184,211,0.7);

	display: inline-block;
	margin: 0;
	padding: 6px 15px;
	min-width: 70px;
}

.mbt-book .mbt-book-sample-audio audio {
	max-width: 100%;
}



/*---------------------------------------------------------*/
/* Buy Buttons                                             */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
	width: auto;
	float: left;
	clear: none;
	padding: 5px 10px 0px 0px;
	vertical-align: top;
}

.mbt-book .mbt-book-buybuttons .mbt-book-buybutton a {
	vertical-align: top;
}

.mbt-book .mbt-book-buybuttons .mbt-book-buybutton img {
	background: transparent;
	border: none;
	height: auto;
	width: auto;
	border-radius: 0px;
	box-shadow: none;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
	opacity: 1;
}

.mbt-book .mbt-book-buybuttons-textonly {
	clear: both;
	padding: 15px 0px 0px 0px;
}

.mbt-book .mbt-book-buybuttons-textonly h3  {
	margin: 0px;
	padding: 0px;
}

.mbt-book .mbt-book-buybuttons-textonly ul {
	list-style-position: inside;
	list-style-type: disc;
	margin: 5px 0 5px 0;
	padding: 0 0 0 10px
}

.mbt-book .mbt-book-buybuttons-textonly ul li {
	list-style-position: inside;
	list-style-type: disc;
	background: none;
	padding: 0;
	margin: 0;
}

.mbt-book .mbt-book-buybuttons-textonly ul li a {
	vertical-align: middle;
	font-size: 15px;
	line-height: 15px;
}



/*---------------------------------------------------------*/
/* Universal Buy Button                                    */
/*---------------------------------------------------------*/

.mbt-book-buybuttons .mbt-universal-buybutton,
.mbt-book-buybuttons .mbt-universal-buybutton:hover {
	box-shadow: none;
}



/*---------------------------------------------------------*/
/* Book Video Sample                                       */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-video-sample {
	text-align: center;
	width: 100%;
	overflow: hidden;
}

.mbt-book .mbt-book-video-sample iframe {
	padding: 0;
	margin: 0;
}

.mbt-book .mbt-book-video-sample .jetpack-video-wrapper {
	margin: 0;
}

.mbt-book .mbt-book-video-sample .jetpack-video-wrapper .youtube-player {
	display: inline-block !important;
}



/*---------------------------------------------------------*/
/* Find Bookstore Form Styling                             */
/*---------------------------------------------------------*/

.mbt-book .mbt-find-bookstore {
	text-align: center;
}

.mbt-book .mbt-find-bookstore input[type="email"],
.mbt-book .mbt-find-bookstore input[type="text"] {
	width: auto;
	font-size: 1em;
	font-weight: normal;
	padding: 0.4em 0.5em;
	line-height: 1.42857;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.mbt-book .mbt-find-bookstore input[type="submit"] {
	font-size: 1em;
	padding: 0.4em 0.8em;
	line-height: 1.42857;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	outline: none;
}
.mbt-book .mbt-find-bookstore input[type="submit"]:hover{
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
.mbt-book .mbt-find-bookstore input[type="submit"]:active {
	color: #757575;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border-color: transparent;
}


/*---------------------------------------------------------*/
/* Endorsements                                            */
/*---------------------------------------------------------*/

.mbt-book-endorsements {
	padding-top: 15px;
}

.mbt-book-endorsements .mbt-endorsement {
	padding: 20px 0 0;
	clear: both;
}
.mbt-book-endorsements .mbt-endorsement:first-of-type {
	padding-top: 0;
}

.mbt-book-endorsements .mbt-endorsement .mbt-endorsement-image {
	width: 17%;
	padding: 0 2.5%;
}

.mbt-book-endorsements .mbt-endorsement .mbt-endorsement-image img {
	width: 100%;
	height: auto;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}

.mbt-book-endorsements .mbt-endorsement .mbt-endorsement-content {
	padding: 0.7em 2.5% 0;
	line-height: 1.7;
}

.mbt-book-endorsements .mbt-endorsement .mbt-endorsement-image+.mbt-endorsement-content {
	width: 73%;
}

.mbt-book-endorsements .mbt-endorsement .mbt-endorsement-name {
	padding-top: 0.7em;
	line-height: 1;
	opacity: 0.8;
	text-align: right;
}

.mbt-book-endorsements .mbt-endorsement:nth-child(odd) .mbt-endorsement-image {
	float: left;
}
.mbt-book-endorsements .mbt-endorsement:nth-child(odd) .mbt-endorsement-image+.mbt-endorsement-content {
	float: right;
}
.mbt-book-endorsements .mbt-endorsement:nth-child(odd) .mbt-endorsement-image+.mbt-endorsement-content .mbt-endorsement-name {
	text-align: left;
}
.mbt-book-endorsements .mbt-endorsement:nth-child(even) .mbt-endorsement-image {
	float: right;
}
.mbt-book-endorsements .mbt-endorsement:nth-child(even) .mbt-endorsement-image+.mbt-endorsement-content {
	float: left;
}
.mbt-book-endorsements .mbt-endorsement:nth-child(even) .mbt-endorsement-image+.mbt-endorsement-content .mbt-endorsement-name {
	text-align: right;
}



/*---------------------------------------------------------*/
/* Book Club Resources                                     */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-bookclub-resources .mbt-book-bookclub-video {
	text-align: center;
	margin-bottom: 20px;
}

.mbt-book .mbt-book-bookclub-resources ul {
	list-style: inside disc;
	padding: 0;
	margin: 0;
}

.mbt-book .mbt-book-bookclub-resources ul li {
	padding: 0;
	margin: 0 0 5px 0;
}



/*---------------------------------------------------------*/
/* Audio Book Resources                                    */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-audiobook-resources .mbt-book-audiobook-video {
	text-align: center;
	margin-bottom: 20px;
}

.mbt-book .mbt-book-audiobook-resources ul {
	list-style: inside disc;
	padding: 0;
	margin: 0;
}

.mbt-book .mbt-book-audiobook-resources ul li {
	padding: 0;
	margin: 0 0 5px 0;
}



/*---------------------------------------------------------*/
/* Book Social Media                                       */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-socialmedia-bar {
	clear: both;
	padding-top: 10px;
}

.mbt-book .mbt-book-socialmedia-badges {
	float: right;
	padding-left: 5px;
}

/*
 * Buttons
 */

.mbt-book .mbt-book-socialmedia-buttons {
	text-align: center;
}

.mbt-book .mbt-book-socialmedia-buttons .mbt-book-socialmedia-button {
	padding: 10px 30px 10px 65px;
	font-size: 20px;
	line-height: 1.7;
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 0 15px 15px;
	background-repeat: no-repeat;
	background-position: 20px 10px;
	cursor: pointer;
	border: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.mbt-book .mbt-book-socialmedia-buttons .mbt-book-socialmedia-button:hover {
	color: white;
}
.mbt-book .mbt-book-socialmedia-buttons .mbt-book-socialmedia-button:active {
	color: white;
}
.mbt-book .mbt-book-socialmedia-buttons .mbt-book-socialmedia-button:visited {
	color: white;
}

.mbt-book .mbt-book-socialmedia-buttons .mbt-book-socialmedia-facebook {
	background-color: #4861a3;
	background-image: url('../images/facebook.png');
}

.mbt-book .mbt-book-socialmedia-buttons .mbt-book-socialmedia-twitter {
	background-color: #00acee;
	background-image: url('../images/twitter.png');
}

.mbt-book .mbt-book-socialmedia-buttons .mbt-book-socialmedia-googleplus {
	background-color: #d8420e;
	background-image: url('../images/googleplus.png');
}



/*---------------------------------------------------------*/
/* Book Series                                             */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-series .mbt-series-book {
	display: inline-block;
	padding: 10px;
	margin: 0px;
	text-align: center;
	float: left;
	clear: none;
	border: none;
	height: 175px;
	width: 120px;
	overflow: hidden;
	box-sizing: content-box;
}

.mbt-book .mbt-book-series .mbt-series-book .mbt-series-book-title {
	font-size: 14px;
	font-weight: bold;
	clear: both;
	padding: 0px;
	margin: 0px;
	width: 120px;
	height: 55px;
	overflow: hidden;
	color: inherit;
	line-height: 1.3;
}

.mbt-book .mbt-book-series .mbt-series-book .mbt-series-book-title a {
	font-size: 14px;
	font-weight: bold;

	color: inherit;
	text-decoration: none;
	border: none;
}

.mbt-book .mbt-book-series .mbt-series-book .mbt-series-book-title a:hover {
	font-size: 14px;
	font-weight: bold;

	color: inherit;
	text-decoration: underline;
	border: none;
}

.mbt-book .mbt-book-series .mbt-series-book .mbt-series-book-images {
	margin: 10px;
	width: 100px;
	height: 100px;
	display: table;
}

.mbt-book .mbt-book-series .mbt-series-book .mbt-series-book-images a {
	display: table-cell;
	vertical-align: middle;
	border: none;
	outline: none;
}

.mbt-book .mbt-book-series .mbt-series-book .mbt-series-book-images a img {
	max-width: 100px;
	max-height: 100px;

	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
	outline: none;
	display: inline-block;
}


/*---------------------------------------------------------*/
/* Amazon Kindle Instant Preview                           */
/*---------------------------------------------------------*/

.mbt-book .mbt_kindle_instant_preview {
	width: 100%;
	height: 550px;
	padding: 0;
	margin: 0;
}





/*---------------------------------------------------------*/
/* About the Author                                        */
/*---------------------------------------------------------*/

.mbt-book .mbt-book-about-author .mbt-book-about-author-image {
	float: left;
	width: 30%;
}

.mbt-book .mbt-book-about-author .mbt-book-about-author-image img {
	width: 100%;
	height: auto;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}

.mbt-book .mbt-book-about-author .mbt-book-about-author-right {
	float: left;
	padding-left: 5%;
	width: 65%;
}

.mbt-book .mbt-book-about-author .mbt-book-about-author-name {
	font-size: 1.5em;
	line-height: 1;
	padding-bottom: 0.5em;
}

.mbt-book .mbt-book-about-author .mbt-book-about-author-desc p {
	line-height: 1.7em;
	padding: 0;
	margin-bottom: 0.9em;
}



/*---------------------------------------------------------*/
/* Button Styling                                          */
/*---------------------------------------------------------*/

.mbt-book .mbt-primary-button,
.mbt-book .mbt-primary-button:link,
.mbt-book .mbt-primary-button:visited {
	border: none;
	box-shadow: none;
	outline: none;
	display: inline-block;

	font-size: 18px;
	text-align: center;
	color: white;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	text-transform: uppercase;

	padding: 10px 40px;
	border-radius: 10px;
	margin: 15px;
	margin-top: 22px;
	line-height: 1.2;
	border-bottom: 5px solid rgba(0,0,0,0.3);

	background-color: #64ACF3;
}
.mbt-book .mbt-primary-button:hover,
.mbt-book .mbt-primary-button:active {
	box-shadow: none;
	border-bottom: 5px solid rgba(0,0,0,0.15);
}



/*---------------------------------------------------------*/
/* Storefront Page Mode Styling                            */
/*---------------------------------------------------------*/

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-section {
	display: block;
	clear: both;
	float: none;
	margin: 20px 0 0 0;
	width: 100%;
}

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-section:first-of-type {
	margin: 0;
}

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-section-title {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
}

/*
 * Book Overview
 */

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-overview-section {
	border-top: 1px solid #E0E2E2;
	padding-top: 20px;
	margin-top: 25px;

	font-size: 14px;
	line-height: 21px;
}

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-overview-section .mbt-book-section-title {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;

	font-size: 25px;
	font-weight: normal;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
}

/*
 * Book Blurb
 */

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-blurb {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: white;
	border: 1px solid #E0E2E2;

	font-size: 14px;
	color: #484949;
	line-height: 21px;

	margin: 10px 0px 0px 10px;
	padding: 15px 23px;
	min-height: 50px;
}

/*
 * Misc
 */

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-find-bookstore-section,
.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-series-section,
.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-about-author-section,
.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-endorsements-section {
	font-size: 13px;

	background: #F8F8F8;
	border: 1px solid #E1E3E3;
	border-radius: 2px;

	box-sizing: border-box;
	padding: 15px 20px;
}

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-find-bookstore-section *,
.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-series-section *,
.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-about-author-section *,
.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-endorsements-section * {
	box-sizing: content-box;
}

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-find-bookstore-section .mbt-book-section-title,
.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-series-section .mbt-book-section-title,
.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-about-author-section .mbt-book-section-title,
.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-endorsements-section .mbt-book-section-title {
	font-size: 16px;
	font-weight: bold;
	color: #484949;
	padding-bottom: 10px;
	text-align: center;
}

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-kindle-instant-preview-section .mbt-book-section-title {
	text-align: center;
	font-style: italic;
}

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-title {
	margin: 0 0 0 33px;
}

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-price {
	margin: 10px 0px 10px 33px;
}

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-meta {
	margin-left: 33px;
}

.mbt-book.mbt-book-single.mbt-display-mode-storefront .mbt-book-buybuttons {
	margin: 15px 0px 0px 20px;
}



/*---------------------------------------------------------*/
/* Single Column Page Mode Styling                         */
/*---------------------------------------------------------*/

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-section {
	display: block;
	clear: both;
	float: none;
	margin: 30px 0 0 0;
	border: none;
	border-top: 1px solid #E0E2E2;
	padding: 20px 0 0 0;
	width: 100%;
	font-size: 16px;
	line-height: 1;
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-section:first-of-type {
	border: none;
	margin: 0;
	padding: 0;
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-section-title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
}

/*
 * Purchase Section
 */

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-purchase {
	text-align: center;
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-buybuttons {
	margin: 0 30px;
	display: inline-block;
}

/*
 * Overview Section
 */

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-overview p {
	line-height: 1.7em;
	padding: 0;
	margin: 0;
	margin-bottom: 0.9em;
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-overview p:last-child {
	margin-bottom: 0px;
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-overview ul li {
	list-style-type: disc;
	list-style-position: inside;
	padding: 0;
	margin: 0 0 0.7em 0;
}

/*
 * Misc
 */

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-title {
	margin: 0;
	padding-bottom: 30px;
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-right {
	text-align: center;
}

@media (min-width: 500px) {
	.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-images {
		width: 35%;
	}
	.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-images + .mbt-book-right {
		width: 65%;
	}
	.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-images.mbt-book-images-small {
		width: 25%;
	}
	.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-images.mbt-book-images-small + .mbt-book-right {
		width: 75%;
	}
	.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-images.mbt-book-images-large {
		width: 45%;
	}
	.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-images.mbt-book-images-large + .mbt-book-right {
		width: 55%;
	}
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-teaser {
	margin: 0 0 20px 30px;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	line-height: 1.5;
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-blurb {
	background: none;
	border: none;
	padding: 0;
	margin: 0 0 0 30px;
	font-size: 18px;
	text-align: left;
	line-height: 1.5;
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-meta {
	font-size: 16px;
	line-height: 1.5;
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-sample {
	text-align: center;
}

.mbt-book.mbt-book-single.mbt-display-mode-singlecolumn .mbt-book-sample:first-child {
	margin-top: 0;
}



/*---------------------------------------------------------*/
/* Book Excerpt Styling                                    */
/*---------------------------------------------------------*/

.mbt-book.mbt-book-excerpt .mbt-book-blurb {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: white;
	border: 1px solid #E0E2E2;

	font-size: 14px;
	color: #484949;
	line-height: 21px;

	margin: 10px 0px 0px 10px;
	padding: 15px 23px;
	min-height: 50px;
}

.mbt-book.mbt-book-excerpt .mbt-book-blurb a {
	color: #484949;
	font-weight: 600;
	text-decoration: none;
}

.mbt-book.mbt-book-excerpt .mbt-book-blurb a:hover {
	text-decoration: underline;
}

.mbt-book.mbt-book-excerpt .mbt-book-title {
	margin: 0 0 0 33px;
}

.mbt-book.mbt-book-excerpt .mbt-book-price {
	margin: 10px 0px 10px 33px;
}

.mbt-book.mbt-book-excerpt .mbt-book-meta {
	margin-left: 33px;
}

.mbt-book.mbt-book-excerpt .mbt-book-buybuttons {
	margin: 15px 0px 0px 20px;
}


/*---------------------------------------------------------*/
/* Book Archive Styling                                    */
/*---------------------------------------------------------*/

.mbt-book-archive-header .mbt-book-archive-image {
	float: left;
	width: 15%;
	padding: 0 24px 25px 0;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	margin: 0;
}

.mbt-book-archive-header .mbt-book-archive-title {
	clear: none;
	width: 75%;
	float: left;
	padding: 0px 0px 15px 0px;
	margin: 0px;
	background: transparent;

	color: #484949;
	font-size: 30px;
	font-weight: normal;
	line-height: 1.3;
}

.mbt-book-archive-header .mbt-book-archive-description {
	clear: none;
	width: 75%;
	float: left;

	font-size: 14px;
	line-height: 1.5;

	padding: 0px 0px 25px 0px;
	position: relative;
}

.mbt-book-archive {
	clear: both;
}

.mbt-book-archive .mbt-book-archive-books:after {
	content: "";
	display: table;
	clear: both;
}

.mbt-book-archive .mbt-book {
	margin-bottom: 40px;
	border-bottom: 1px solid #E0E2E2;
}

.mbt-book-archive-pagination {
	clear: both;
	text-align: center;
}

.mbt-book-archive-pagination a,
.mbt-book-archive-pagination a:link,
.mbt-book-archive-pagination a:visited,
.mbt-book-archive-pagination a:hover {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
	color: white;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	border: 1px solid #345873;
	border-radius: 5px;

	background-color: #36738d;
	background-image: -moz-linear-gradient(top,  #36738d 0%, #2f5a79 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36738d), color-stop(100%,#2f5a79));
	background-image: -webkit-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -o-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -ms-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: linear-gradient(to bottom,  #36738d 0%,#2f5a79 100%);

	box-shadow: inset 1px 1px 0 rgba(141,184,211,0.7);

	display: inline-block;
	margin: 0px 5px 0px 0px;
	padding: 6px 8px;
}

.mbt-book-archive-pagination a:hover {
	text-decoration: underline;
}

.mbt-book-archive-pagination span {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
	color: #214756;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	display: inline-block;
	margin: 0px 5px 0px 0px;
	padding: 6px 8px;
}

.mbt-book-archive-pagination .mbt-book-archive-pagination-next {
	margin-left: 5px;
	padding: 6px 15px;
}

.mbt-book-archive-pagination .mbt-book-archive-pagination-previous {
	margin-right: 10px;
	padding: 6px 15px;
}

@media only screen and (max-width: 600px) {
	.mbt-book .mbt-book-images {
		float: none;
		margin: auto;
		margin-bottom: 15px;
		width: 40%;
	}

	.mbt-book .mbt-book-right {
		float: none;
		width: 100% !important;
		box-sizing: border-box;
	}
}


/*---------------------------------------------------------*/
/* Widget Styling                                          */
/*---------------------------------------------------------*/

.mbt-featured-book-widget {
	padding: 6px;
	padding-bottom: 0px;
	text-align: center;
}

.mbt-featured-book-widget .mbt-featured-book-widget-book {
	padding-bottom: 30px;
}

.mbt-featured-book-widget .mbt-book-title {
	margin: 0 5px 15px 0;
	text-align: center;
}

.mbt-featured-book-widget .mbt-book-title a {
	color: inherit;
	text-decoration: none;
	font-size: 18px;
	border: none;
}

.mbt-featured-book-widget .mbt-book-title a:hover {
	color: inherit;
	text-decoration: underline;
	font-size: 18px;
	border: none;
}

.mbt-featured-book-widget .mbt-book-images {
	padding-bottom: 10px;
}

.mbt-featured-book-widget .mbt-book-images a {
	border: none;
}

.mbt-featured-book-widget .mbt-book-images .mbt-book-image {
	width: 60%;
	margin: 0;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
}

.mbt-featured-book-widget .mbt-book-images .mbt-book-image.medium {
	width: 45%;
}

.mbt-featured-book-widget .mbt-book-images .mbt-book-image.small {
	width: 30%;
}

.mbt-featured-book-widget .mbt-book-blurb {
	font-size: 14px;
	text-align: left;
	margin: 0;
	padding: 0 0 10px 0;
	background: none;
	border: none;
}

.mbt-featured-book-widget .mbt-book-blurb .mbt-read-more {
	display: block;
	padding-top: 10px;
	text-align: right;
}

.mbt-featured-book-widget .mbt-book-buybuttons {
	display: inline-block;
	text-align: center;
	padding: 0;
	margin: 0;
}

.mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton  {
	width: auto;
	float: none;
	clear: both;
	display: inline-block;
	padding: 5px 10px 0px 0px;
}

.mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton img {
	background: transparent;
	border: none;
	height: auto;
	width: auto;
	border-radius: 0px;
	box-shadow: none;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
}



/*---------------------------------------------------------*/
/* Shortcodes                                              */
/*---------------------------------------------------------*/

.mbt-taxonomy-listing .mbt-taxonomy {
	clear: both;
	font-family: Helvetica, sans-serif;
	margin-bottom: 20px;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-title {
	clear: none;
	margin: 0 0 0 10px;
	padding: 0;

	color: #484949;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.3;
	background: none;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-title a {
	color: #484949;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	border: none;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-title a:hover {
	color: #484949;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
	border: none;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-image {
	float: left;
	width: 25%;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-image img {
	width: 100%;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-description {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: white;
	border: 1px solid #E0E2E2;

	font-size: 14px;
	color: #484949;
	line-height: 21px;

	margin: 5px 0px 0px 10px;
	padding: 10px 15px;
}

.mbt-taxonomy-listing .mbt-taxonomy .mbt-taxonomy-right {
	float: left;
	width: 75%;
}

.mbt-taxonomy-list.bar {
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	border-radius: 5px;
	color: #333;
	margin: 10px 0px;
}

.mbt-taxonomy-list.bar li {
	float: left;
	list-style: none;
	padding: 4px 7px;
	margin: 0px;
	background: none;
}



/*---------------------------------------------------------*/
/* Misc Fixes                                              */
/*---------------------------------------------------------*/

body.mybooktable .post-meta,
body.mybooktable .post-info,
body.mybooktable .post-meta {
	display: none;
}

body.mybooktable .entry-meta,
body.mybooktable .entry-info,
body.mybooktable .entry-meta {
	display: none;
}



/*---------------------------------------------------------*/
/* Shadow Box Styles                                       */
/*---------------------------------------------------------*/

.mbt-shadowbox-inline,
.mbt-shadowbox-iframe {
	cursor: pointer;
}

.mbt-shadowbox .mbt-shadowbox-title {
	font-size: 16px;
	font-weight: bold;
	color: #484949;
	text-align: center;

	background: #C0C0C0;
	padding: 12px 0px;
}

.mbt-buybuttons-shadowbox .mbt-book {
	display: block;
	clear: none;
	padding: 0;
	margin: 0 170px 0 0;
}

.mbt-buybuttons-shadowbox .mbt-book .mbt-book-buybuttons {
	margin: 0;
	float: left;
	padding: 5px 20px 15px 20px;
	box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;
}

.mbt-buybuttons-shadowbox .mbt-book-image {
	width: 150px;
	padding: 10px;
	float: right;
}

.mbt-buybuttons-shadowbox .mbt-find-bookstore {
	font-size: 13px;
	background: #C0C0C0;
	margin: 0;
	padding: 15px 20px;
	text-align: center;
}

.mbt-buybuttons-shadowbox .mbt-find-bookstore input {
	padding: 4px 6px;
	margin: 3px;
	vertical-align: baseline;
	width: auto;
}

@media only screen and (max-width: 660px) {
	.mbt-buybuttons-shadowbox {
		text-align: center;
	}

	.mbt-buybuttons-shadowbox .mbt-book {
		margin: 0;
	}

	.mbt-buybuttons-shadowbox .mbt-book .mbt-book-buybuttons {
		box-sizing: border-box !important;
		padding: 5px 15px 15px 15px;
		width: 100% !important;
		text-align: center;
	}

	.mbt-buybuttons-shadowbox .mbt-book .mbt-book-buybuttons .mbt-book-buybutton {
		float: none;
	}

	.mbt-buybuttons-shadowbox .mbt-book .mbt-book-buybuttons .mbt-book-buybuttons-textonly {
		float: none;
	}

	.mbt-buybuttons-shadowbox .mbt-book-image {
		box-sizing: border-box !important;
		padding: 15px;
		width: 50% !important;
		float: none;
	}
}

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; outline: none; border: none; box-shadow: none;}
#cboxWrapper {max-width:none; background: white; border: 4px solid #525252;}
#cboxOverlay{position:fixed; width:100%; height:100%; background: rgba(0,0,0,0.5);}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:hidden;}
@supports (-webkit-overflow-scrolling: touch) { #cboxLoadedContent{-webkit-overflow-scrolling: touch;overflow: scroll;} }
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#cboxWrapper, #colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxClose{
	display: inline-block;
	background: url('../images/close.png') no-repeat;
	width:27px;
	height:27px;
	vertical-align: bottom;
	position: absolute;
	right: -13px;
	top: -13px;
	padding: 0;
	margin: 0;
	color: transparent;
	font-size: 0;
	border: 0;
	outline: none;
	box-shadow: none;
}



/*---------------------------------------------------------*/
/* Divi Integration                                        */
/*---------------------------------------------------------*/

#mbt-container .et_pb_row {
	width: 100%;
	max-width: 100%;
}
